#ignore binary

/**/authApp
/**/brokerApp
/**/loggerServiceApp


# Ignore specific environment files
.env.local
.env.development
.env.test
.env.production

# Ignore any file with .env in its name
**/*.env

_projects/
